# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# 22seven
MY_22SEVEN_USERNAME=
MY_22SEVEN_PASSWORD=

# ISMRT
ISMRT_USERNAME=
ISMRT_PASSWORD=
